<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.billthefarmer.weather"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/appName"
      android:theme="@style/AppDarkTheme"
      tools:ignore="AllowBackup">

    <activity
        android:name="Weather"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name="Help"
        android:label="@string/help" />

    <service
        android:name="WeatherWidgetUpdate" />

    <receiver
        android:name="WeatherWidgetProvider"
        android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget" />
    </receiver>

  </application>

</manifest>
